.ipynb_checkpoints
20200821222930_Downloads
20200824200527_Downloads
chromedriver_win32
chromedriver_win32.zip
geckodriver-v0.27.0-win64
geckodriver-v0.27.0-win64.zip
geckodriver.log
VA_Read_Xlsx_Function.ipynb
__pycache__